<footer class="bg-success text-light py-3 text-center navbar fiixed-bottom">
      <div class="col-md">
        <nav class="align-items-center">
          <ul class="nav d-flex align-items-center justify-content-center text-center mt-2">
            <li class="nav-item"><a class="nav-link" href="/job-roles" style="color: white">Available Jobs</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact" style="color: white">Contact Us</a></li>
          </ul>
        </nav>
      </div>
      <p class="mb-0">&copy; Kainos 2024</p>
    </footer>
