<div class="ph-footer">
    <div class="footer-layout" type="footer-layout">
        <pcs-widget data-ph-widget-id="a0eed55411fc833cb94a38f266fb4ec2" instance-id="fpwiff" data-ph-content-id="zUqoYSfD-zB2qJaH4"></pcs-widget>
    </div>
</div>
<script type="text/javascript" src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/en_gb/desktop/assets/scripts/1637059842649-custom.js" async="" nonce=""></script>
<script id="platform_script_polyfill" type="text/javascript" src="https://cdn.phenompeople.com/CareerConnectResources/common/js/caas-platform/vendor/minified.js" nomodule="" defer=""></script>
<script id="platform_script_vendor" type="text/javascript" src="https://cdn.phenompeople.com/CareerConnectResources/common/js/caas-platform/vendor/vue.min-1.0_1636721870521.js" defer=""></script>
<script id="platform_script_common" type="text/javascript" src="https://cdn.phenompeople.com/CareerConnectResources/common/js/caas-platform/common/pcs-common-v1.17_1713953061742.js" defer=""></script>
<script id="caas_bootstrapper" type="text/javascript" src="https://cdn.phenompeople.com/CareerConnectResources/common/js/caas-platform/bootstrap/ph-platform-1.17_1711627640948.js" defer="" nonce="">
</script>
<script type="text/javascript">
if (phApp) {
    phApp.viewsFromPage = true
} else {
    var phApp = {
        "viewsFromPage": true
    }
}
</script>
<script type="text/javascript" src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/en_gb/desktop/page35-prod/caas-platform/page-views-1724139189999.js" defer></script>
