<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Role List</title>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<header>
    <nav class="bg-success text-center text-white d-flex">
        <ul>
            <li><a href="/"><img src="../img/kainos_image.png"></a></li>
            <li><a href="/job-roles">Available Jobs</a></li>
        </ul>
    </nav>
</header>