<nav class="navbar">

    <div class="container" style="margin-top: 25px;">
        <a href="/" class="logo">
            <img src="https://www.kainos.com/globalassets/images/5_logos/kainos_logo.png?mode=crop&width=200"
                alt="Kainos Logo" style="height: 32px; width: 100px; margin-right: 3rem; margin-top: -1rem; ">
        </a>
        <a href="/job-roles" style="font-size: 17px;margin-right: 2rem;">Available Jobs</a>
        <a href="https://www.kainos.com/contact-us" style="font-size: 17px;margin-right: 2rem;">Get in touch</a>

        {% if isLoggedIn %}
        <form action="/logout" method="post" style="display: inline;">
            <button type="submit"
                style="font-size: 17px; color: #007bff; background: none; border: none; text-decoration: none; cursor: pointer;">
                Logout
            </button>
        </form>
        {% else %}
        <a href="/loginForm" style="font-size: 17px; color: #007bff; text-decoration: none;">
            Login
        </a>
        {% endif %}
    </div>
</nav>
