<!DOCTYPE html>
<html lang="en" class="external en_gb desktop">
<head>
    {% include "components/header.html" %} 
    <title>Home - Kainos</title>  
</head>
<body class="static-page Life at Kainos" style="visibility: hidden;">

    <div class="main-header">
        {% include "components/navigationBar.html" %}    
   </div>

    <div class="ph-page">
        <section class="ppc-section ph-widget" type="dynamic" instance-id="uoS0U6" theme="default" original-view="view2" ph-module="gdpr" data-ph-id="ph-widget-element-1638972464497-nEAYy0">
            <div class="ph-cookie-popup-v2-view2-default ph-widget-target" as-element="ph-cookie-popup-v2" data-widget="ph-cookie-popup-v2" view="view2-1638972474772" theme="default" original-view="view2" instance-id="uoS0U6" data-ph-id="ph-widget-element-1638972464497-nTWSb8"></div>
        </section>
        <div class="ph-page-container body-wrapper" data-ph-id="ph-page-element-1001">
            <section class="ph-hero-content-cc-view1-option1-theme4 ph-widget" type="static" view="1689953364142-hero-content-cc-view1-option1-savedView-1689953334039" original-view="ph-hero-content-cc-view1-option1" theme="theme4" instance-id="J0DN0Z" data-ph-id="-1689953363669">
                <div class="ph-hero-content-cc-view1-option1-theme4 ph-widget-target" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1689953364142-hero-content-cc-view1-option1-savedView-1689953334039" original-view="ph-hero-content-cc-view1-option1" theme="theme4" ph-removed="true" data-ph-id="-1689953363669-1" instance-id="J0DN0Z">
                    <div class="ph-component-cntr ph-widget-box heading-block-hide ph-VLu7X-bg" default-cards-count="1" max-allowed-cards="2" data-ph-id="ph-widget-element-2366079858439998-2" style="background-size: 100% 100%;">
                        <div class="inner-container ph-fluid-container" data-ph-id="ph-widget-element-2366079858439998-3">
                            <div class="ph-container-heading-block" data-ph-id="ph-widget-element-2366079858439998-4">
                                <div class="ph-header-block-default" card-name="ph-header-block-default" data-ph-id="ph-widget-element-2366079858439998-5">
                                    <div class="heading-block-info" data-ph-id="ph-widget-element-2366079858439998-6">
                                    </div>
                                    <div class="heading-block-actions" data-ph-id="ph-widget-element-2366079858439998-13">
                                    </div>
                                </div>
                            </div>
                            <div class="ph-container-content-block" data-ph-id="ph-widget-element-2366079858439998-18"  style="padding-bottom: -100px;">
                                <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-widget-element-2366079858439998-19">

                                    <div class="ph-card" card-name="ph-hero-content-cc-view1" card-container-style="background-image:'url()'" data-ph-id="ph-widget-element-2366079858439998-20">
                                        <div class="ph-hero-content-cc-view1 ph-card-block" data-ph-at-id="ph-hero-content-cc-view1" data-ph-id="ph-widget-element-2366079858439998-21">
                                            <div class="ph-hero-content-wrapper" data-ph-id="ph-widget-element-2366079858439998-22">
                                                <figure class="image" role="presentation" key-role="Life at Kainos-J0DN0Z-NqNBUu-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-presentationRole" instance-id="NqNBUu" data-ph-id="ph-widget-element-2366079858439998-23">
                                                    <ppc-container component-content-key="primary-image" class="primary-image ph-image-fit-container-cms" unique-img="true" data-ph-cid="primary-image1" data-ph-id="ph-widget-element-2366079858439998-24">
                                                        <ppc-content type="image" data-ph-media="image" data-ph-id="ph-widget-element-2366079858439998-25">
                                                            <img src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/images/LifeatKainosbannerheader-1691154869519.png" key-src="Life at Kainos-J0DN0Z-GYDYHR-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-image-src" alt="Header banner with a person with the text: Kainos prioritized my wellbeing and now I get to help others " key-alt="Life at Kainos-J0DN0Z-GYDYHR-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-image-alt-text" unique-img="true" data-ph-cid="primary-image1" height-val="525" instance-id="GYDYHR" data-ph-id="ph-widget-element-2366079858439998-26" crop-size="fit"/>
                                                        </ppc-content>
                                                    </ppc-container>

                                                </figure>
                                                <div class="content ph-a11y-aria-live" aria-live="assertive" aria-atomic="true" data-ph-id="ph-widget-element-2366079858439998-29">

                                                    <ppc-container component-content-key="heading" class="header ph-line-height-1_5" data-ph-cid="heading1" data-ph-id="ph-widget-element-2366079858439998-33">
                                                        <span key-aria-level="Life at Kainos-J0DN0Z-cne5JV-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-heading-text-aria-level" key-role="Life at Kainos-J0DN0Z-cne5JV-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-heading-text-role" instance-id="cne5JV" data-ph-id="ph-widget-element-2366079858439998-34">
                                                            <ppc-content key="Life at Kainos-J0DN0Z-SFoKnr-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-heading-text" data-ph-at-id="heading-text" instance-id="SFoKnr" data-ph-id="ph-widget-element-2366079858439998-35">
                                                                <h1>
                                                                    <span class="ph-line-height-1_5" data-ph-id="ph-widget-element-2366079858439998-38" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">
                                                                        <span data-ph-id="ph-widget-element-2366079858439998-40">
                                                                            <span data-ph-id="ph-widget-element-2366079858439998-41" style="line-height: inherit !important; display: inherit;">
                                                                                <span class="ph-8v9ih" data-ph-id="ph-widget-element-2366079858439998-42">Our people write our story</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </h1>
                                                            </ppc-content>
                                                        </span>
                                                    </ppc-container>
                                                    <ppc-container component-content-key="description" class="description ph-line-height-1_5" data-ph-cid="description1" data-ph-id="ph-widget-element-2366079858439998-43" style="font-family: GalanoGrotesque-Medium;">
                                                        <span class="description-block" data-ph-id="ph-widget-element-2366079858439998-44">
                                                            <ppc-content key="Life at Kainos-J0DN0Z-JARy7O-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-description-text" data-ph-at-id="description-text" instance-id="JARy7O" data-ph-id="ph-widget-element-2366079858439998-45">
                                                                <div>
                                                                    <span class="ph-8v9ih">We've got a big story to tell. It's an epic tale that has been in the making since 1986. And it continues to unfold at pace. So where do we start? Where we always do, with our people.&nbsp;</span>
                                                                </div>
                                                            </ppc-content>
                                                        </span>
                                                    </ppc-container>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="ph-inline-video-cc-slider-view1-option2-theme1 ph-widget" type="static" view="1722431987602-inline-video-cc-slider-view1-option2-savedView-1701869859522" original-view="ph-inline-video-cc-slider-view1-option2" theme="theme1" instance-id="0UnaqS" data-ph-id="-1722431986261">
                <div class="ph-inline-video-cc-slider-view1-option2-theme1 ph-widget-target" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1722431987602-inline-video-cc-slider-view1-option2-savedView-1701869859522" original-view="ph-inline-video-cc-slider-view1-option2" theme="theme1" ph-removed="true" data-ph-id="-1722431986261-1" instance-id="0UnaqS">
                    <div class="ph-component-cntr ph-widget-box header-center" data-ph-id="ph-widget-element-365483513295049-2">
                        <div class="inner-container ph-cc-d-p-t-20 ph-cc-d-p-b-20" data-ph-id="ph-widget-element-365483513295049-3">
                            <div class="ph-container-heading-block" data-ph-id="ph-widget-element-365483513295049-4">
                                <div class="ph-header-block-default" card-name="ph-header-block-default" data-ph-id="ph-widget-element-365483513295049-5">
                                    <div class="heading-block-info" data-ph-id="ph-widget-element-365483513295049-6">
                                        <ppc-container component-content-key="h2-heading" class="heading-two" data-ph-cid="h2-heading1" data-ph-id="ph-widget-element-365483513295049-7">
                                            <h2 data-ph-id="ph-widget-element-365483513295049-8">
                                                <ppc-content key="Life at Kainos-0UnaqS-Vyj2fq-ph-inline-video-cc-slider-view1-option2-savedView-1701869859522-h2-heading-title-text" instance-id="Vyj2fq" data-ph-id="ph-widget-element-365483513295049-9">Watch our story unfold</ppc-content>
                                            </h2>
                                        </ppc-container>

                                    </div>
                                    <div class="heading-block-actions" data-ph-id="ph-widget-element-365483513295049-13">
                                    </div>
                                </div>
                            </div>
                            <div class="ph-container-content-block ph-static-slider" data-ph-id="ph-widget-element-365483513295049-18">
                                <div class="ph-slide-loader" ph-card-slider-v1="" data-widget-attr="ph-card-slider-v1" role="region" pha-phslide-dots="true" pha-phslide-use-transform="false" pha-phslide-fade="false" pha-phslide-adaptive-height="false" pha-phslide-autoplay="false" pha-phslide-arrows="true" pha-phslide-accessibility="false" pha-phslide-draggable="false" pha-phslide-infinite="false" phslide-number-slides-to-show="1" phslide-number-slides-to-scroll="1" data-ph-id="ph-widget-element-365483513295049-19">

                                    <div class="ph-slider-container ph-card-container stackable" data-ph-id="ph-widget-element-365483513295049-20">
                                        <div class="ph-card" card-name="ph-inline-video-cc-view1" card-layout="ph-layout-h" ph-slide-num="1" data-ph-id="ph-widget-element-365483513295049-21">
                                            <div class="ph-layout-h ph-inline-video-cc-view1 ph-card-block" data-ph-at-id="ph-inline-video-cc-view1" data-ph-id="ph-widget-element-365483513295049-22">
                                                <div class="ph-row" ph-row-num="1" data-ph-id="ph-widget-element-365483513295049-23">
                                                    <div class="ph-col-12" ph-col-num="1" data-ph-id="ph-widget-element-365483513295049-24">
                                                        <div class="media ph-a11y-aria-live" ph-card-block-num="1" data-ph-id="ph-widget-element-365483513295049-25">
                                                            <figure class="image" data-ph-id="ph-widget-element-365483513295049-26">
                                                                <ppc-container component-content-key="primary-image" class="primary-image" data-ph-cid="primary-image1" data-ph-id="ph-widget-element-365483513295049-27">
                                                                    <ppc-content type="image" data-ph-media="image" data-ph-id="ph-widget-element-365483513295049-28">
                                                                        <img key-src="Life at Kainos-0UnaqS-TZvMyK-ph-inline-video-cc-slider-view1-option2-savedView-1701869859522-image-src" alt="Image of our founders in a hand drawn tv" key-alt="Life at Kainos-0UnaqS-TZvMyK-ph-inline-video-cc-slider-view1-option2-savedView-1701869859522-image-alt-text" data-ph-cid="primary-image1" instance-id="TZvMyK" data-ph-id="ph-widget-element-365483513295049-29" height-val="597" loading="lazy" ph-data-src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/images/Videothumbnail-1722430912323.png"/>
                                                                    </ppc-content>
                                                                </ppc-container>
                                                            </figure>
                                                            <div class="video-popup-block inline-popup-container" ph-media-gallery-v1="" data-widget-attr="ph-media-gallery-v1" enablepopup="false" data-ph-id="ph-widget-element-365483513295049-30">
                                                                <ppc-container component-content-key="inline-video-popup" data-ph-cid="inline-video-popup1" class="inline-video-popup video-popup" data-ph-id="ph-widget-element-365483513295049-31">
                                                                    <button style="background-color: transparent; border: none;" class="ph-gallery-item-link popup-static-block" aria-label="click here to play video" key-aria-label="Life at Kainos-0UnaqS-QeWTHO-ph-inline-video-cc-slider-view1-option2-savedView-1701869859522-play-button-aria-label" ph-tevent="static_content_click" instance-id="QeWTHO" data-ph-id="ph-widget-element-365483513295049-32">
                                                                        <figure class="image" data-ph-id="ph-widget-element-365483513295049-33">
                                                                            <span data-ph-id="ph-widget-element-365483513295049-34">
                                                                                <ppc-content type="image" data-ph-media="image" data-ph-id="ph-widget-element-365483513295049-35">
                                                                                    <img key-src="Life at Kainos-0UnaqS-OvA4o9-ph-inline-video-cc-slider-view1-option2-savedView-1701869859522-play-button" alt="" key-alt="Life at Kainos-0UnaqS-OvA4o9-ph-inline-video-cc-slider-view1-option2-savedView-1701869859522-play-button-alt-text" class="ph-gallery-item" data-gallery-item-type="video" data-gallery-video-provider="youtube" data-widget-ref="ph-video-v1" pha-video-id="WpWe8L-yMT8" pha-partner-id="null" pha-entry-id="null" ph-cms-video-gallery-link="false" instance-id="OvA4o9" data-ph-id="ph-widget-element-365483513295049-36" loading="lazy" ph-data-src="https://cdn.phenompeople.com/CareerConnectResources/common/assets/images/image-placeholders/video_play.png"/>
                                                                                </ppc-content>
                                                                            </span>
                                                                            <figcaption data-ph-id="ph-widget-element-365483513295049-37">
                                                                                <span data-ph-id="ph-widget-element-365483513295049-38">
                                                                                    <ppc-content key="Life at Kainos-0UnaqS-cZTt0D-ph-inline-video-cc-slider-view1-option2-savedView-1701869859522-play-button-text1" instance-id="cZTt0D" data-ph-id="ph-widget-element-365483513295049-39">
                                                                                                            Watch the video
                                                                                                        </ppc-content>
                                                                                </span>
                                                                            </figcaption>
                                                                        </figure>
                                                                    </button>
                                                                </ppc-container>
                                                                <ppc-container component-content-key="inline-video-container" data-ph-cid="inline-video-container1" data-ph-id="ph-widget-element-365483513295049-40">
                                                                    <div class="popup-container hide" role="dialog" data-ph-id="ph-widget-element-365483513295049-41">
                                                                        <div class="popup-modal-backdrop" data-ph-id="ph-widget-element-365483513295049-42">
                                                                            <div class="modal fade in show" data-ph-id="ph-widget-element-365483513295049-43">
                                                                                <div class="modal-dialog" data-ph-id="ph-widget-element-365483513295049-44">
                                                                                    <div class="modal-content" data-ph-id="ph-widget-element-365483513295049-45">
                                                                                        <div ph-card-slider-v1="" pha-phslid-autoplay="true" pha-phslide-dots="true" pha-phslid-lazy-load="progressive" pha-load-on-event="true" class="ph-gallery-container ph-slider-container" data-ph-id="ph-widget-element-365483513295049-46">
                                                                                            <div class="ph-gallery-item-container" data-ph-id="ph-widget-element-365483513295049-47">
                                                                                                                            Loading...
                                                                                                                        </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </ppc-container>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ppc-section ph-widget" type="static" data-ph-id="-1635243036520" view="1635243037170-paragraph-cc-view1-option1" original-view="ph-paragraph-cc-view1-option1" instance-id="HHUCjv" theme="theme1">
                <div class="ph-paragraph-cc-view1-option1-theme1 ph-widget-target" data-ph-id="-1635243036520-1" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1635243037170-paragraph-cc-view1-option1" original-view="ph-paragraph-cc-view1-option1" theme="theme1" ph-removed="true" instance-id="HHUCjv">
                    <div class="ph-component-cntr ph-widget-box" default-cards-count="1" max-allowed-cards="4" data-ph-id="ph-widget-element-1635243037170-2">
                        <div class="inner-container ph-cc-d-p-b-20 ph-cc-d-p-t-20" data-ph-id="ph-widget-element-1635243037170-3">
                            <div class="ph-container-content-block" data-ph-id="ph-widget-element-1635243037170-4">
                                <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-widget-element-1635243037170-5">

                                    <div class="ph-card" card-name="ph-paragraph-cc-view1" instance-id="3ZcCQu" card-container-style="background-image:'url()'" data-ph-id="ph-widget-element-1635243037170-6">
                                        <div class="ph-paragraph-cc-view1 ph-card-block" data-ph-at-id="ph-paragraph-cc-view1" data-ph-id="ph-widget-element-1635243037170-7">
                                            <div class="ph-row" ph-row-num="1" data-ph-id="ph-widget-element-1635243037170-8">
                                                <div class="ph-col-12" ph-col-num="1" data-ph-id="ph-widget-element-1635243037170-9">
                                                    <div class="content" ph-card-block-num="1" data-ph-id="ph-widget-element-1635243037170-10">
                                                        <ppc-container component-content-key="description" class="description ph-line-height-1_5" data-ph-cid="description1" data-ph-id="ph-widget-element-1635243037170-11" style="color: rgb(37, 45, 79);">
                                                            <span class="description-block" data-ph-id="ph-widget-element-1635243037170-12">
                                                                <ppc-content key="Life at Kainos-HHUCjv-3ZcCQu-wYpJDH-ph-paragraph-cc-view1-option1-description-text" data-ph-at-id="description-text" instance-id="3ZcCQu-wYpJDH" data-ph-id="ph-widget-element-1635243037170-13">
                                                                    <h2>
                                                                        <span class="ph-line-height-1_5" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">We're obsessed with our culture...</span>
                                                                    </h2>
                                                                    <br/>
                                                                    <h4 style="text-align: left;">
                                                                        <span class="ph-8v9ih">
                                                                            <span class="ph-line-height-1_5" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">Life at Kainos is pretty unique. Not just because of what we do but equally the way we do it. So, yes, we help cities around the world&nbsp;work smarter and save money, we drive complex digital transformations for government, help big brands thrive on Workday, and we work to ensure the incredible impact we have is also sustainable.</span>
                                                                        </span>
                                                                    </h4>
                                                                    <div style="text-align: left;">
                                                                        <br/>
                                                                        <span class="ph-8v9ih">
                                                                            <span class="ph-cc-ms-f-s-16 ph-cc-d-f-s-16 ph-cc-t-f-s-16 ph-cc-m-f-s-16">
                                                                                <span class="ph-line-height-1_5" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">
                                                                                    But we do all of this by handpicking great people who share our values and vision. We give them the best support available and empower them with the confidence to bring their whole selves to work. And we set them free in a culture where true inclusivity encourages curiosity, incites ambition and invites everyone to engage on a level playing field.
                                                                                    <br/>
                                                                                    <br/>
                                                                                    In short, this is where you just don't go to work. This is where you come to life.
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </ppc-content>
                                                            </span>
                                                        </ppc-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="ppc-section ph-widget" type="static" data-ph-id="-1635243106881" view="1635243107552-media-large-img-left-cc-view1-option2" original-view="ph-media-large-img-left-cc-view1-option2" instance-id="YViqWn" theme="theme2">
                <div class="ph-media-large-img-left-cc-view1-option2-theme2 ph-widget-target" data-ph-id="-1635243106881-1" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1635243107552-media-large-img-left-cc-view1-option2" original-view="ph-media-large-img-left-cc-view1-option2" theme="theme2" ph-removed="true" instance-id="YViqWn">
                    <div class="ph-component-cntr ph-widget-box heading-block-hide" default-cards-count="1" max-allowed-cards="2" data-ph-id="ph-widget-element-1635243107552-2">
                        <div class="inner-container ph-cc-d-p-t-40 ph-cc-d-p-b-0" data-ph-id="ph-widget-element-1635243107552-3">
                            <div class="ph-container-heading-block" data-ph-id="ph-widget-element-1635243107552-4">
                                <div class="ph-header-block-default" card-name="ph-header-block-default" instance-id="nqzU3H" data-ph-id="ph-widget-element-1635243107552-5">
                                    <div class="heading-block-info" data-ph-id="ph-widget-element-1635243107552-6">
                                    </div>
                                    <div class="heading-block-actions" data-ph-id="ph-widget-element-1635243107552-13">
                                    </div>
                                </div>
                            </div>
                            <div class="ph-container-content-block" data-ph-id="ph-widget-element-1635243107552-18">
                                <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-widget-element-1635243107552-19">

                                    <div class="ph-card ph-cc-d-p-a-10" card-name="ph-media-large-img-left-cc-view1" card-layout="ph-layout-h" data-ph-card-block-alignment="h" instance-id="2tCa2H" card-container-style="background-image:'url()'" data-ph-id="ph-widget-element-1635243107552-20">
                                        <div class="ph-card-block ph-media-large-img-left-cc-view1 ph-layout-h" data-ph-at-id="ph-media-large-img-left-cc-view1" data-ph-id="ph-widget-element-1635243107552-21">
                                            <div class="ph-row v-l-middle" ph-row-num="1" data-ph-id="ph-widget-element-1635243107552-22">
                                                <div class="ph-col-6" ph-col-num="1" data-ph-id="ph-widget-element-1635243107552-23">
                                                    <div class="media" ph-card-block-num="1" data-ph-id="ph-widget-element-1635243107552-24">
                                                        <figure class="image" data-ph-id="ph-widget-element-1635243107552-25">
                                                            <ppc-container component-content-key="primary-image" class="primary-image" unique-img="true" data-ph-cid="primary-image1" data-ph-id="ph-widget-element-1635243107552-26">
                                                                <ppc-content type="image" data-ph-media="image" data-ph-id="ph-widget-element-1635243107552-27">
                                                                    <img key-src="Life at Kainos-YViqWn-2tCa2H-EoIfUJ-ph-media-large-img-left-cc-view1-option2-image-src" alt="person standing in an open plan office" key-alt="Life at Kainos-YViqWn-2tCa2H-EoIfUJ-ph-media-large-img-left-cc-view1-option2-image-alt-text" unique-img="true" data-ph-cid="primary-image1" instance-id="2tCa2H-EoIfUJ" data-ph-id="ph-widget-element-1635243107552-28" height-val="383" loading="lazy" ph-data-src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/images/KAINOSSECONDPASSSM18052320of211-1691577513146.jpg"/>
                                                                </ppc-content>
                                                            </ppc-container>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ph-col-6" ph-col-num="2" data-ph-id="ph-widget-element-1635243107552-29">
                                                    <div class="content ph-a11y-aria-live" ph-card-block-num="2" data-ph-id="ph-widget-element-1635243107552-30">
                                                        <ppc-container component-content-key="heading" class="header ph-line-height-1_5" data-ph-cid="heading1" data-ph-id="ph-widget-element-1635243107552-31">
                                                            <span key-aria-level="Life at Kainos-YViqWn-2tCa2H-o2lfr7-ph-media-large-img-left-cc-view1-option2-heading-text-aria-level" key-role="Life at Kainos-YViqWn-2tCa2H-o2lfr7-ph-media-large-img-left-cc-view1-option2-heading-text-role" instance-id="2tCa2H-o2lfr7" data-ph-id="ph-widget-element-1635243107552-32">
                                                                <ppc-content key="Life at Kainos-YViqWn-2tCa2H-o2lfr7-ph-media-large-img-left-cc-view1-option2-heading-text" data-ph-at-id="heading-text" instance-id="2tCa2H-o2lfr7" data-ph-id="ph-widget-element-1635243107552-33">
                                                                    <h2>
                                                                        <span class="ph-line-height-1_5" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">
                                                                            <span style="line-height: inherit !important; display: inherit;">
                                                                                <span class="ph-8v9ih">What makes our place, your place?</span>
                                                                            </span>
                                                                        </span>
                                                                    </h2>
                                                                </ppc-content>
                                                            </span>
                                                        </ppc-container>
                                                        <ppc-container component-content-key="description" class="description ph-line-height-1_5" data-ph-cid="description1" data-ph-id="ph-widget-element-1635243107552-34">
                                                            <span class="description-block" data-ph-id="ph-widget-element-1635243107552-35">
                                                                <ppc-content key="Life at Kainos-YViqWn-2tCa2H-14oPaj-ph-media-large-img-left-cc-view1-option2-description-text" data-ph-at-id="description-text" instance-id="2tCa2H-14oPaj" data-ph-id="ph-widget-element-1635243107552-36">
                                                                    <h4>
                                                                        <span class="ph-8v9ih">
                                                                            <span class="ph-line-height-1_5" data-ph-style-attr="ph-line-height-1_5" data-ph-process-line-height="true">
                                                                                <span style="font-size: 16px;">
                                                                                    <span class="ph-cc-ms-f-s-20 ph-cc-d-f-s-20 ph-cc-t-f-s-16 ph-cc-m-f-s-16">Our values. They're written in stone and shape every part of our work, whether it's done at home on the kitchen table or in one of our many offices around the world.</span>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </h4>
                                                                    <div>
                                                                        <br/>
                                                                        <span class="ph-8v9ih">
                                                                            <span class="ph-line-height-1_5" data-ph-style-attr="ph-line-height-1_5" data-ph-process-line-height="true">
                                                                                <span style="font-family:GalanoGrotesque-Medium;">
                                                                                    <span style="font-size: 16px;">
                                                                                        Here there is an open inclusive culture where people are empowered, connected and supported to succeed and they're backed up by our active approach to embracing diversity, promoting personal fulfilment and driving development.
                                                                                        <br/>
                                                                                        ​​​​​​​
                                                                                        <br/>
                                                                                        But while our values provide a strong foundation, they're not meant to constrain you. Instead, we encourage you to embrace them, make them your own, and let your individuality shine.
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </ppc-content>
                                                            </span>
                                                        </ppc-container>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
            <section class="ppc-section ph-widget" type="static" data-ph-id="ph-page-element-page24-uBxid1" view="1533208027702-jtc-card-cc-view1-option1" original-view="ph-jtc-card-cc-view1-option1" instance-id="G93ogH" theme="theme2" global-widget="true" global-widget-id="7bRVNK">
                <div as-element="ph-html-v1" data-widget="ph-html-v1" view="1533208027702-jtc-card-cc-view1-option1" original-view="ph-jtc-card-cc-view1-option1" type="static" data-ph-id="ph-page-element-page24-58mCNm" instance-id="G93ogH" class="ph-widget-target ph-jtc-card-cc-view1-option1-theme2" theme="theme2">
                    <div class="ph-component-cntr ph-widget-box heading-block-hide ph-VLu7X-bg" default-cards-count="1" data-ph-id="ph-page-element-page24-erY6nc" style="background-image: url(&quot;&quot;); background-size: 100% 100%;">
                        <div class="inner-container ph-cc-d-p-b-40 ph-cc-d-p-t-40" data-ph-id="ph-page-element-page24-FSiKb3">
                            <div class="ph-container-heading-block" data-ph-id="ph-page-element-page24-5rTBcu">
                                <div class="ph-header-block-default" card-name="ph-header-block-default" instance-id="P8JUKI" data-ph-id="ph-page-element-page24-j8gvSV">
                                    <div class="heading-block-info" data-ph-id="ph-page-element-page24-FsyDBH">
                                    </div>
                                    <div class="heading-block-actions" data-ph-id="ph-page-element-page24-TAMQoS">
                                    </div>
                                </div>
                            </div>
                            <div class="ph-container-content-block" data-ph-id="ph-page-element-page24-KRSs8E">
                                <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-page-element-page24-FRQcSZ">
                                    <div class="ph-card" card-name="ph-jtc-card-cc-view1" instance-id="RXJ2fF" card-container-style="background-image:'url()'" data-ph-id="ph-page-element-page24-uxoeIv">
                                        <div class="ph-jtc-card-cc-view1 ph-card-block" data-ph-at-id="ph-jtc-card-cc-view1" data-ph-id="ph-page-element-page24-ZTKKxz">
                                            <figure class="image" data-ph-id="ph-page-element-page24-3RRv7s">
                                                <ppc-container component-content-key="primary-image" class="element-center" unique-img="true" data-ph-cid="primary-image1" data-ph-id="ph-page-element-page24-bvrjIS">
                                                    <ppc-content type="image" data-ph-media="image" data-ph-id="ph-page-element-page24-KoWq27" class="ppc-image ppc-content">
                                                        <img key-src="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-c6B8Ci" alt="Images of two people people on a green background" key-alt="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-EUS2dp" unique-img="true" data-ph-cid="primary-image1" instance-id="RXJ2fF-r0eHQn" data-ph-id="ph-page-element-page24-mUEcCL" height-val="508" loading="lazy" ph-data-src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/images/TalentCommunitybannerheader-1692277665879.png"/>
                                                    </ppc-content>
                                                </ppc-container>

                                            </figure>
                                            <div class="content" data-ph-id="ph-page-element-page24-gNh4rm">
                                                <div class="data" data-ph-id="ph-page-element-page24-gFh8Ws">

                                                    <ppc-container component-content-key="heading" class="header element-center ph-8v9ih ph-line-height-1_5" data-ph-cid="heading1" data-ph-id="ph-page-element-page24-SYeZTv" style="font-family: GalanoGrotesque-Medium;">
                                                        <span data-ph-id="ph-page-element-page24-DWi1Ru">
                                                            <ppc-content key="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-M1Gh1A" data-ph-at-id="heading-text" instance-id="RXJ2fF-xFZMel" data-ph-id="ph-page-element-page24-vQvY50" class="ppc-text ppc-content">Join our talent community</ppc-content>
                                                        </span>
                                                    </ppc-container>
                                                    <ppc-container component-content-key="description" class="description element-center ph-8v9ih ph-line-height-1_5" data-ph-cid="description1" data-ph-id="ph-page-element-page24-quP4BC" style="font-family: GalanoGrotesque-Medium;">
                                                        <span class="description-block" data-ph-id="ph-page-element-page24-YnpSLb">
                                                            <ppc-content key="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-Ab4Jc0" data-ph-at-id="description-text" instance-id="RXJ2fF-gsEV1I" data-ph-id="ph-page-element-page24-lam8C3" class="ppc-text ppc-content">
                                                                Let's stay in touch!
                                                                <br/>
                                                                <br/>

                                                                Our talent community are the
                                                                <br/>

                                                                first to read about new opportunities
                                                                <br/>

                                                                and get updates.
                                                            </ppc-content>
                                                        </span>
                                                    </ppc-container>
                                                    <ppc-container component-content-key="primary-action-link" class="element-center link ph-icon-hide primary-button" data-ph-cid="primary-action-link1" data-ph-id="ph-page-element-page24-VVpEul">
                                                        <div class="link" data-ph-at-id="action-default-link" data-ph-id="ph-page-element-page24-dRlhN0">
                                                            <a class="action-link" key-ph-href="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-lNHhXh" title="Sign up for our talent community" key-title="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-kuR1KR" aria-label="Sign up" key-aria-label="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-YmlU7M" ph-tevent="join_talent_community_click" instance-id="RXJ2fF-8VNuBS" data-ph-id="ph-page-element-page24-z5HmUY" target="_self" data-ph-href="https://kainosphenompeoplecom.dev.phenompro.com/gb/en/jointalentcommunity?applyType=JTC" ph-href="jointalentcommunity" hidelinktarget="false">
                                                                <ppc-content key="ph-html-v1-ph-jtc-card-cc-view1-option1-G93ogH-Y8tT88" data-ph-at-id="link-text" instance-id="RXJ2fF-8VNuBS" data-ph-id="ph-page-element-page24-TB9DDG" class="ppc-text ppc-content">Sign up</ppc-content>
                                                                <i class="icon icon-arrow-right" aria-hidden="true" data-ph-id="ph-page-element-page24-k2b5xt"></i>
                                                            </a>
                                                        </div>
                                                    </ppc-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="ph-widget ph-widget-dummy" data-ph-id="ph-page-element-1002"></section>
        </div>
    </div>
{% include "components/footer.html" %}
</body>
</html>
<div id='csrfToken' style='display:none'>9ce53fe1fb584ad884739157eadba0b5</div>
