<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.phenompeople.com/CareerConnectResources/globalstyles/globalstyles-1722508075271.css" id="globalcss"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/tenantcss/main-1721331484097.css" id="tenantcss"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/tenantcss/color-css-1721331485082.css" id="colorCss"/>  
        {% include "heading.html" %}  
    </head>
<body class="body">
    
    <div class="ph-page">
        <section class="ppc-section ph-widget" type="dynamic" instance-id="uoS0U6" theme="default" original-view="view2" ph-module="gdpr" data-ph-id="ph-widget-element-1638972464497-nEAYy0">
            <div class="ph-cookie-popup-v2-view2-default ph-widget-target" as-element="ph-cookie-popup-v2" data-widget="ph-cookie-popup-v2" view="view2-1638972474772" theme="default" original-view="view2" instance-id="uoS0U6" data-ph-id="ph-widget-element-1638972464497-nTWSb8"></div>
        </section>
        <div class="ph-page-container body-wrapper" data-ph-id="ph-page-element-1001">
            <section class="ph-hero-content-cc-view1-option1-theme4 ph-widget" type="static" view="1689953364142-hero-content-cc-view1-option1-savedView-1689953334039" original-view="ph-hero-content-cc-view1-option1" theme="theme4" instance-id="J0DN0Z" data-ph-id="-1689953363669">
                <div class="ph-hero-content-cc-view1-option1-theme4 ph-widget-target" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1689953364142-hero-content-cc-view1-option1-savedView-1689953334039" original-view="ph-hero-content-cc-view1-option1" theme="theme4" ph-removed="true" data-ph-id="-1689953363669-1" instance-id="J0DN0Z">
                    <div class="ph-component-cntr ph-widget-box heading-block-hide ph-VLu7X-bg" default-cards-count="1" max-allowed-cards="2" data-ph-id="ph-widget-element-2366079858439998-2" style="background-size: 100% 100%;">
                        <div class="inner-container ph-fluid-container" data-ph-id="ph-widget-element-2366079858439998-3">
                            <div class="ph-container-heading-block" data-ph-id="ph-widget-element-2366079858439998-4">
                                <div class="ph-header-block-default" card-name="ph-header-block-default" data-ph-id="ph-widget-element-2366079858439998-5">
                                    <div class="heading-block-info" data-ph-id="ph-widget-element-2366079858439998-6">
                                    </div>
                                    <div class="heading-block-actions" data-ph-id="ph-widget-element-2366079858439998-13">
                                    </div>
                                </div>
                            </div>
                            <div class="ph-container-content-block" data-ph-id="ph-widget-element-2366079858439998-18"  style="padding-bottom: -100px;">
                                <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-widget-element-2366079858439998-19">

                                    <div class="ph-card" card-name="ph-hero-content-cc-view1" card-container-style="background-image:'url()'" data-ph-id="ph-widget-element-2366079858439998-20">
                                        <div class="ph-hero-content-cc-view1 ph-card-block" data-ph-at-id="ph-hero-content-cc-view1" data-ph-id="ph-widget-element-2366079858439998-21">
                                            <div class="ph-hero-content-wrapper" data-ph-id="ph-widget-element-2366079858439998-22">
                                                <figure class="image" role="presentation" key-role="Life at Kainos-J0DN0Z-NqNBUu-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-presentationRole" instance-id="NqNBUu" data-ph-id="ph-widget-element-2366079858439998-23">
                                                    <ppc-container component-content-key="primary-image" class="primary-image ph-image-fit-container-cms" unique-img="true" data-ph-cid="primary-image1" data-ph-id="ph-widget-element-2366079858439998-24">
                                                        <ppc-content type="image" data-ph-media="image" data-ph-id="ph-widget-element-2366079858439998-25">
                                                            <img src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/images/LifeatKainosbannerheader-1691154869519.png" key-src="Life at Kainos-J0DN0Z-GYDYHR-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-image-src" alt="Header banner with a person with the text: Kainos prioritized my wellbeing and now I get to help others " key-alt="Life at Kainos-J0DN0Z-GYDYHR-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-image-alt-text" unique-img="true" data-ph-cid="primary-image1" height-val="525" instance-id="GYDYHR" data-ph-id="ph-widget-element-2366079858439998-26" crop-size="fit"/>
                                                        </ppc-content>
                                                    </ppc-container>

                                                </figure>
                                                <div class="content ph-a11y-aria-live" aria-live="assertive" aria-atomic="true" data-ph-id="ph-widget-element-2366079858439998-29">

                                                    <ppc-container component-content-key="heading" class="header ph-line-height-1_5" data-ph-cid="heading1" data-ph-id="ph-widget-element-2366079858439998-33">
                                                        <span key-aria-level="Life at Kainos-J0DN0Z-cne5JV-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-heading-text-aria-level" key-role="Life at Kainos-J0DN0Z-cne5JV-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-heading-text-role" instance-id="cne5JV" data-ph-id="ph-widget-element-2366079858439998-34">
                                                            <ppc-content key="Life at Kainos-J0DN0Z-SFoKnr-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-heading-text" data-ph-at-id="heading-text" instance-id="SFoKnr" data-ph-id="ph-widget-element-2366079858439998-35">
                                                                <h1>
                                                                    <span class="ph-line-height-1_5" data-ph-id="ph-widget-element-2366079858439998-38" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">
                                                                        <span data-ph-id="ph-widget-element-2366079858439998-40">
                                                                            <span data-ph-id="ph-widget-element-2366079858439998-41" style="line-height: inherit !important; display: inherit;">
                                                                                <span class="ph-8v9ih" data-ph-id="ph-widget-element-2366079858439998-42">Our people write our story</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </h1>
                                                            </ppc-content>
                                                        </span>
                                                    </ppc-container>
                                                    <ppc-container component-content-key="description" class="description ph-line-height-1_5" data-ph-cid="description1" data-ph-id="ph-widget-element-2366079858439998-43" style="font-family: GalanoGrotesque-Medium;">
                                                        <span class="description-block" data-ph-id="ph-widget-element-2366079858439998-44">
                                                            <ppc-content key="Life at Kainos-J0DN0Z-JARy7O-ph-hero-content-cc-view1-option1-savedView-1689953334039-savedView-1688993096550-description-text" data-ph-at-id="description-text" instance-id="JARy7O" data-ph-id="ph-widget-element-2366079858439998-45">
                                                                <div>
                                                                    <span class="ph-8v9ih">We've got a big story to tell. It's an epic tale that has been in the making since 1986. And it continues to unfold at pace. So where do we start? Where we always do, with our people.&nbsp;</span>
                                                                </div>
                                                            </ppc-content>
                                                        </span>
                                                    </ppc-container>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ppc-section ph-widget" type="static" data-ph-id="-1635243036520" view="1635243037170-paragraph-cc-view1-option1" original-view="ph-paragraph-cc-view1-option1" instance-id="HHUCjv" theme="theme1">
                <div class="ph-paragraph-cc-view1-option1-theme1 ph-widget-target" data-ph-id="-1635243036520-1" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1635243037170-paragraph-cc-view1-option1" original-view="ph-paragraph-cc-view1-option1" theme="theme1" ph-removed="true" instance-id="HHUCjv">
                    <div class="ph-component-cntr ph-widget-box" default-cards-count="1" max-allowed-cards="4" data-ph-id="ph-widget-element-1635243037170-2">
                        <div class="inner-container ph-cc-d-p-b-20 ph-cc-d-p-t-20" data-ph-id="ph-widget-element-1635243037170-3">
                            <div class="ph-container-content-block" data-ph-id="ph-widget-element-1635243037170-4">
                                <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-widget-element-1635243037170-5">

                                    <div class="ph-card" card-name="ph-paragraph-cc-view1" instance-id="3ZcCQu" card-container-style="background-image:'url()'" data-ph-id="ph-widget-element-1635243037170-6">
                                        <div class="ph-paragraph-cc-view1 ph-card-block" data-ph-at-id="ph-paragraph-cc-view1" data-ph-id="ph-widget-element-1635243037170-7">
                                            <div class="ph-row" ph-row-num="1" data-ph-id="ph-widget-element-1635243037170-8">
                                                <div class="ph-col-12" ph-col-num="1" data-ph-id="ph-widget-element-1635243037170-9">
                                                    <div class="content" ph-card-block-num="1" data-ph-id="ph-widget-element-1635243037170-10">
                                                        <ppc-container component-content-key="description" class="description ph-line-height-1_5" data-ph-cid="description1" data-ph-id="ph-widget-element-1635243037170-11" style="color: rgb(37, 45, 79);">
                                                            <span class="description-block" data-ph-id="ph-widget-element-1635243037170-12">
                                                                <ppc-content key="Life at Kainos-HHUCjv-3ZcCQu-wYpJDH-ph-paragraph-cc-view1-option1-description-text" data-ph-at-id="description-text" instance-id="3ZcCQu-wYpJDH" data-ph-id="ph-widget-element-1635243037170-13">
                                                                    <h2>
                                                                        <span class="ph-line-height-1_5" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">We're obsessed with our culture...</span>
                                                                    </h2>
                                                                    <br/>
                                                                    <h4 style="text-align: left;">
                                                                        <span class="ph-8v9ih">
                                                                            <span class="ph-line-height-1_5" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">Life at Kainos is pretty unique. Not just because of what we do but equally the way we do it. So, yes, we help cities around the world&nbsp;work smarter and save money, we drive complex digital transformations for government, help big brands thrive on Workday, and we work to ensure the incredible impact we have is also sustainable.</span>
                                                                        </span>
                                                                    </h4>
                                                                    <div style="text-align: left;">
                                                                        <br/>
                                                                        <span class="ph-8v9ih">
                                                                            <span class="ph-cc-ms-f-s-16 ph-cc-d-f-s-16 ph-cc-t-f-s-16 ph-cc-m-f-s-16">
                                                                                <span class="ph-line-height-1_5" data-ph-process-line-height="true" data-ph-style-attr="ph-line-height-1_5">
                                                                                    But we do all of this by handpicking great people who share our values and vision. We give them the best support available and empower them with the confidence to bring their whole selves to work. And we set them free in a culture where true inclusivity encourages curiosity, incites ambition and invites everyone to engage on a level playing field.
                                                                                    <br/>
                                                                                    <br/>
                                                                                    In short, this is where you just don't go to work. This is where you come to life.
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </ppc-content>
                                                            </span>
                                                        </ppc-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="ph-footer">
                <div class="footer-layout" type="footer-layout">
                    <pcs-widget data-ph-widget-id="a0eed55411fc833cb94a38f266fb4ec2" instance-id="fpwiff" data-ph-content-id="zUqoYSfD-zB2qJaH4"></pcs-widget>
                </div>
            </div>
</body>
</html>

