<!DOCTYPE html>
<html>
    <head>
        <title>Job Roles</title>
    </head>
    <body>
        <h1>
            Job Roles
        </h1>
        <table>
            <tr>
                <th>Role name:</th>
                <th>Location: </th>
                <th>Capability: </th>
                <th>Band: </th>
                <th>Closing Date: </th>
            </tr>
            {% for JobRole in JobRoles | sort(attribute='JobRoleId') %}
                <tr>
                    <td>{{ JobRole.JobroleId }}</td>
                        <td>{{ JobRole.roleName }}</td>
                        <td>{{ JobRole.capabilityId }}</td>
                        <td>{{ JobRole.bandId }}</td>
                        <td>{{ JobRole.closingDate }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>