<!DOCTYPE html>
<html lang="en" class="external en_gb desktop">
<head>
    {% include "components/header.html" %}   
    <title>Job {{ JobRole.jobRoleId }} - Kainos</title>
    <style>

        a{
            font-size: 16px;
        }

        a:hover{
            text-decoration: underline;
            color: rgb(23, 74, 193);
            transition: color 0.3s ease;
        }

        #infoTable{
            width: 100%;       
            border-collapse: separate;
            display: flex;
            font-size: larger;
            border-spacing: 0 50px;
        }

        #infoTable th,td{
            text-align: left;
            padding: 8;
        }

        #infoTable th{
            padding-right: 3rem;
            font-weight: 600;
        }

        #infoTable tr{
           width: 100%;
        }

        .content{
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        .description-block{
            justify-items: center;
            justify-content: center;
            align-items: center;
        }

        a{
            font-size: large;
        }

        #pattern{
            background-color: rgb(47, 50, 129);
            color: white;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: left;
            width: 60%;
        }

        .box{
            color: white;
            padding-right: 1rem;
            padding-left: 1rem;
            width: 100%;
        }

        .box h2 {
            font-weight: bold;
            padding-bottom: 1rem;
        }

         </style>
    
</head>
<body class="static-page Life at Kainos" style="visibility: hidden;">

    <div class="main-header">
        {% include "components/navigationBar.html" %}    
   </div>

   <section class="ph-hero-block-cc-view4-option1-theme3 ph-widget" type="static" view="1690881945941-hero-block-cc-view4-option1-savedView-1689260228177" original-view="ph-hero-block-cc-view4-option1" theme="theme3" instance-id="e1qkhF" data-ph-id="-1690881945708"><div class="ph-hero-block-cc-view4-option1-theme3 ph-widget-target" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1690881945941-hero-block-cc-view4-option1-savedView-1689260228177" original-view="ph-hero-block-cc-view4-option1" theme="theme3" ph-removed="true" data-ph-id="-1690881945708-1" instance-id="e1qkhF"> 
    <div class="ph-component-cntr ph-widget-box ph-VLu7X-bg" role="main" style="background-image: url(&quot;&quot;); background-size: cover;" data-ph-id="ph-widget-element-3293807497633245-2">
           <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-widget-element-3293807497633245-3">
               
   <div card-name="ph-hero-block-cc-view4" class="ph-card" key-role="e1qkhF-mL42XT-ph-hero-block-cc-view4-option1-savedView-1689260228177-listItemRole" instance-id="mL42XT" data-ph-id="ph-widget-element-3293807497633245-4">
       <div class="ph-hero-block-cc-view4 ph-card-block" data-ph-at-id="ph-hero-block-cc-view4" data-ph-id="ph-widget-element-3293807497633245-5">
           <!--images-->
           <figure class="image" role="presentation" key-role="e1qkhF-2iXPyA-ph-hero-block-cc-view4-option1-savedView-1689260228177-heroImageRole" instance-id="2iXPyA" data-ph-id="ph-widget-element-3293807497633245-6">
               <ppc-container component-content-key="primary-image" class="primary-image element-center" unique-img="true" data-ph-cid="primary-image1" data-ph-id="ph-widget-element-3293807497633245-7">
       <ppc-content type="image" data-ph-media="image" data-ph-id="ph-widget-element-3293807497633245-8">
           <img src="https://cdn.phenompeople.com/CareerConnectResources/KAINGB/images/WebsitebannerheaderMay24-1715779597509.jpg" key-src="e1qkhF-gALUKb-ph-hero-block-cc-view4-option1-savedView-1689260228177-image-src" alt="header banner with 4 people images " key-alt="e1qkhF-gALUKb-ph-hero-block-cc-view4-option1-savedView-1689260228177-image-alt-text" unique-img="true" data-ph-cid="primary-image1" height-val="584" instance-id="gALUKb" data-ph-id="ph-widget-element-3293807497633245-9">
       </ppc-content>
   </ppc-container>
               
           </figure>
           <!--banner contentarea-->
           <div class="inner-container" data-ph-id="ph-widget-element-3293807497633245-12">
               <div class="global-search-block" data-ph-id="ph-widget-element-3293807497633245-13" style="margin-left: -8.5rem; margin-top: -1rem;">
                  <h1 style="padding-left: 3rem;">Why Work at Kainos?</h1>
       <h3 style="padding-right: 4rem; padding-left: 3rem;">Working at Kainos will allow you to grow your career in a dynamic environment, work on meaningful projects, and be part of a supportive, innovative team.</h3>
    </div>
</div>
  
   </ppc-container>
                   <ppc-container component-content-key="description" class="description ph-line-height-1_5" data-ph-cid="description1" data-ph-id="ph-widget-element-3293807497633245-17">
      
   </ppc-container>
                   <div class="phs-search-suggestions au-target aurelia-hide" show.bind="showDropDown" id="typehead-listbox" aria-label="Search suggestions" role="listbox" tabindex="-1" aria-labelledby="typehead-listbox" data-ph-id="ph-widget-element-3293807432084163-135" au-target-id="605" aria-hidden="true">
                       <div class="phs-search-type-ahead phs-onclick-category" data-ph-at-id="onclick-category" data-ph-id="ph-widget-element-3293807432084163-136">
                           <div class="phs-search-categories au-target aurelia-hide" show.bind="allJobCategories.length" data-ph-id="ph-widget-element-3293807432084163-137" au-target-id="606">
                               <div data-ph-id="ph-widget-element-3293807432084163-138">
                                   <h2 data-ph-id="ph-widget-element-3293807432084163-139">
                                       <ppc-content key="3XXwHS-p3C2fb-ph-hero-block-cc-view4-option1-savedView-1689260228177-job-categories-text" data-ph-at-id="heading-text" data-ph-id="ph-widget-element-3293807432084163-140">Job Categories
                                       </ppc-content>
                                   </h2>
                               </div>
                               <ul class="phs-search-category-list au-target" data-ph-at-id="category-list" role="presentation" data-ph-id="ph-widget-element-3293807432084163-141" au-target-id="607" data-ph-at-total-data-count="" aria-hidden="true">
                                   <!--anchor-->
                               </ul>
                           </div>
                       </div><!--anchor-->
                       <!--anchor-->

                       </div><!--anchor-->
                   </div>
               </div><!--anchor-->
             
           </div>
       </div>
       <span aria-live="polite" aria-atomic="true" class="sr-only" data-ph-id="ph-widget-element-3293807432084163-223">
           <!--anchor-->
       </span>
   </form><!--anchor--></div>
                   </section>
               </div>
           </div>
       </div>
   </div>
           </div>    
       </div></div></section>

   <section class="ph-paragraph-cc-view1-option1-theme1 ph-widget" type="static" view="1719398658373-paragraph-cc-view1-option1-savedView-1719398636006" original-view="ph-paragraph-cc-view1-option1" theme="theme1" instance-id="P0ARHq" data-ph-id="-1719398658291">
    <div class="ph-paragraph-cc-view1-option1-theme1 ph-widget-target" type="static" as-element="ph-html-v1" data-widget="ph-html-v1" view="1719398658373-paragraph-cc-view1-option1-savedView-1719398636006" original-view="ph-paragraph-cc-view1-option1" theme="theme1" ph-removed="true" data-ph-id="-1719398658291-1" instance-id="P0ARHq">
        <div class="ph-component-cntr ph-widget-box" default-cards-count="1" max-allowed-cards="4" data-ph-id="ph-widget-element-1566038290791334-2">
            <div class="inner-container ph-cc-d-p-t-40 ph-cc-d-p-b-20" data-ph-id="ph-widget-element-1566038290791334-3">
                <div class="ph-container-content-block" data-ph-id="ph-widget-element-1566038290791334-4" style="width: 100%;">
                    <div class="ph-card-container stackable" data-cards-per-row="one" data-ph-id="ph-widget-element-1566038290791334-5">
                        
                        <div class="ph-card" card-name="ph-paragraph-cc-view1" card-container-style="background-image:'url()'" data-ph-id="ph-widget-element-1566038290791334-6">
                            <div class="ph-paragraph-cc-view1 ph-card-block" data-ph-at-id="ph-paragraph-cc-view1" data-ph-id="ph-widget-element-1566038290791334-7">
                                <div class="ph-row" ph-row-num="1" data-ph-id="ph-widget-element-1566038290791334-8">
                                    <div class="ph-col-12" ph-col-num="1" data-ph-id="ph-widget-element-1566038290791334-9">
                                        <div class="content" ph-card-block-num="1" data-ph-id="ph-widget-element-1566038290791334-10" >
                                            <ppc-container component-content-key="description" class="description ph-line-height-1_5" data-ph-cid="description1" style="color: rgb(37, 45, 79);" data-ph-id="ph-widget-element-1566038290791334-11">
                                                <span class="description-block" data-ph-id="ph-widget-element-1566038290791334-12">
                                                    <ppc-content key="Life at Kainos-P0ARHq-bRPP11-ph-paragraph-cc-view1-option1-savedView-1719398636006-description-text" data-ph-at-id="description-text" instance-id="bRPP11" data-ph-id="ph-widget-element-1566038290791334-13">          
                                                        <strong><h2 id="querytitle" style=" text-align: center;">Additional Information</h2></strong>
                                                            
                                                            <table id="infoTable">
                                                             
                                                                {% for JobRoleDetailed in JobRoleDetailedResponse %}
                                                                <strong><h2 style=" text-align: left;"><a href="/job-roles" style="font-size: 30px; padding-right: 10px;">← Back </a></h2></strong>
                                                                  <tr>
                                                                        <th>Role name:</th>
                                                                        <td>{{ JobRoleDetailed.jobRole.roleName }}</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <th>Description:</th>
                                                                        <td>{{ JobRoleDetailed.description }}</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <th>Responsibilities:</th>
                                                                        <td>{{ JobRoleDetailed.responsibilities }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Sharepoint Link:</th>
                                                                        <td><a href="{{ JobRoleDetailed.sharepointUrl }}">{{ JobRoleDetailed.sharepointUrl }}</a></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <th>Location:</th>
                                                                        <td><a target="_blank" href="https://www.google.com/maps/place/{{ JobRole.location }}">{{ JobRoleDetailed.jobRole.location }}</a></td>
                                                                                   
                                                                    </tr>

                                                                    <tr>
                                                                        <th>Capability:</th>
                                                                        <td>{{ JobRoleDetailed.jobRole.capabilityName }}</td>
                                                                    </tr>
                                                                    
                                                                    <tr>
                                                                        <th>Band:</th>
                                                                        <td>{{ JobRoleDetailed.jobRole.bandName }}</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <th>Closing Date:</th>
                                                                        <td>{{ JobRoleDetailed.jobRole.closingDate | date }}</td>
                                                                    </tr>

                                                                    </tr>
                                                                        <th>Current Status:</th>
                                                                        <td>{{ JobRoleDetailed.status }}</td>
                                                                    </tr>
                                                                    
                                                                    <tr>
                                                                        <th>Available Positions:</th>
                                                                        <td>{{ JobRoleDetailed.numberOfOpenPositions }}</td>
                                                                    </tr>
                                                                           
                                                                {% endfor %}                     
                                                            </table>
                                                            <br/>
                                                            <br/>
                                                        
                                                    </ppc-content>
                                                </span>
                                            </ppc-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
{% include "components/footer.html" %}

<script>
    // JavaScript to automatically scroll to the target section on page load
    window.onload = function() {
        document.getElementById("querytitle").scrollIntoView({ behavior: 'smooth' });
    };
</script>
</body>
</html>
<div id='csrfToken' style='display:none'>9ce53fe1fb584ad884739157eadba0b5</div>
