<!DOCTYPE html>
<html>
    <head>
        <title>Job Roles</title>
    </head>
    <body>
        <h1>Job Roles</h1>
        <table style="width: 100%; margin: 0 auto; text-align: center;">
        <tr>
            <th>Listing Number:</th>
            <th>Role name:</th>
            <th>Location:</th>
            <th>Capability:</th>
            <th>Salary Band:</th>
            <th>Closing Date:</th>
        </tr>
            {% for JobRole in JobRoles | sort(attribute='JobRoleId') %}
                <tr >
                        <td>{{ JobRole.jobRoleId }}</td>
                        <td>{{ JobRole.roleName }}</td>
                        <td>{{ JobRole.location }}</td>
                        <td>{{ JobRole.capabilityName }}</td>
                        <td>{{ JobRole.bandName }}</td>
                        <td>{{ JobRole.closingDate | date }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>