.gray-color{
 color: #d3d3d3 !important;
}

.gray-color-bg{
 background-color: #d3d3d3 !important;
}

.gray-color-border{
 border-color: #d3d3d3 !important;
}

.gray-lighter{
 color: #fcfcfc !important;
}

.gray-lighter-bg{
 background-color: #fcfcfc !important;
}

.gray-lighter-border{
 border-color: #fcfcfc !important;
}

.brand-color-secondary{
 color: #61a83f !important;
}

.brand-color-secondary-bg{
 background-color: #61a83f !important;
}

.brand-color-secondary-border{
 border-color: #61a83f !important;
}

.darkar{
 color: #262626 !important;
}

.darkar-bg{
 background-color: #262626 !important;
}

.darkar-border{
 border-color: #262626 !important;
}

.dark-color-light{
 color: #848484 !important;
}

.dark-color-light-bg{
 background-color: #848484 !important;
}

.dark-color-light-border{
 border-color: #848484 !important;
}

.gray-light{
 color: #F5F5F5 !important;
}

.gray-light-bg{
 background-color: #F5F5F5 !important;
}

.gray-light-border{
 border-color: #F5F5F5 !important;
}

.dark-color{
 color: #424242 !important;
}

.dark-color-bg{
 background-color: #424242 !important;
}

.dark-color-border{
 border-color: #424242 !important;
}

.dark-color-lighter{
 color: #8f8f8f !important;
}

.dark-color-lighter-bg{
 background-color: #8f8f8f !important;
}

.dark-color-lighter-border{
 border-color: #8f8f8f !important;
}

.gray-darkar{
 color: #9b9b9b !important;
}

.gray-darkar-bg{
 background-color: #9b9b9b !important;
}

.gray-darkar-border{
 border-color: #9b9b9b !important;
}

.brand-color-primary{
 color: #283583 !important;
}

.brand-color-primary-bg{
 background-color: #283583 !important;
}

.brand-color-primary-border{
 border-color: #283583 !important;
}

.ph-oHCVK{
 color: #575756 !important;
}

.ph-oHCVK-bg{
 background-color: #575756 !important;
}

.ph-oHCVK-border{
 border-color: #575756 !important;
}

.ph-a4l7B{
 color: #41679f !important;
}

.ph-a4l7B-bg{
 background-color: #41679f !important;
}

.ph-a4l7B-border{
 border-color: #41679f !important;
}

.ph-H24IC{
 color: #ec6608 !important;
}

.ph-H24IC-bg{
 background-color: #ec6608 !important;
}

.ph-H24IC-border{
 border-color: #ec6608 !important;
}

.ph-NgZbB{
 color: #004631 !important;
}

.ph-NgZbB-bg{
 background-color: #004631 !important;
}

.ph-NgZbB-border{
 border-color: #004631 !important;
}

.ph-VLu7X{
 color: #ffffff !important;
}

.ph-VLu7X-bg{
 background-color: #ffffff !important;
}

.ph-VLu7X-border{
 border-color: #ffffff !important;
}

.ph-CwUEG{
 color: #009fe3 !important;
}

.ph-CwUEG-bg{
 background-color: #009fe3 !important;
}

.ph-CwUEG-border{
 border-color: #009fe3 !important;
}

.ph-q1Bkb{
 color: #cfd600 !important;
}

.ph-q1Bkb-bg{
 background-color: #cfd600 !important;
}

.ph-q1Bkb-border{
 border-color: #cfd600 !important;
}

.ph-CBU66{
 color: #1b2db5 !important;
}

.ph-CBU66-bg{
 background-color: #1b2db5 !important;
}

.ph-CBU66-border{
 border-color: #1b2db5 !important;
}

.ph-8v9ih{
 color: #252d4f !important;
}

.ph-8v9ih-bg{
 background-color: #252d4f !important;
}

.ph-8v9ih-border{
 border-color: #252d4f !important;
}

.headeritems{
    padding-top: 500px;
}

th {    
    padding: 12px 15px; 
}

td {
    padding: 12px 15px; 
}
