<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Role List</title>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  {% include 'components/header.njk' %}

  <main class="justify-content-center align-items-center">
    <h1>Job Role List</h1>
    <table style="width: 100%; margin: 0 auto; text-align: center;">
        <tr>
            <th>Listing Number:</th>
            <th>Role name:</th>
            <th>Location:</th>
            <th>Capability:</th>
            <th>Salary Band:</th>
            <th>Closing Date:</th>
        </tr>
        {% for JobRole in JobRoles | sort(attribute='JobRoleId') %}
            <tr>
                <td><a href="/availablejobs/{{JobRole.jobRoleId}}">{{ JobRole.jobRoleId }}</a></td>
                <td>{{ JobRole.roleName }}</td>
                <td>{{ JobRole.location }}</td>
                <td>{{ JobRole.capabilityName }}</td>
                <td>{{ JobRole.bandName }}</td>
                <td>{{ JobRole.closingDate | date }}</td>
            </tr>
        {% endfor %}
    </table>

  {% include 'components/footer.njk' %}
</body>
</html>
